body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  /* padding: 20px; */
  justify-content: center;
  padding-top: 100px;
}
.game-container{
  background-color: #000000;
  width: 100%;
  height: auto;
  justify-self: center;
  margin: 5px;
  border-radius: 30px;
  border: 2px solid rgb(68, 1, 252);
  align-self: center;
  padding: 5px;
  


}
h1{
  color: #ffffff;
  /* font-size: larger; */
}

#colorBox {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  border: 2px solid #ffffff;
  align-self: center;
  justify-self: center;
}

#colorOptions {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(2, auto); */
   justify-content: center; 
  /* gap: 10px; */
  max-width: 400px;
  margin: 20px auto;
  
}

.colorOption {
  width: 70px;
  height: 70px;
  border: 2px solid white;
  cursor: pointer;
  transition: transform 0.2s ease;
  justify-content: center;
}
.colorOption:hover {
  transform:scale(1.1);
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  width: 30%;
  height: 10%;
  text-align: center;
}

.correct {
  animation: correctAnimation 0.5s ease;
}

@keyframes correctAnimation {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}
p {
  color: #fff;
}

.new-game{
  background: linear-gradient(45deg, black,blue);
  color: #fff;
  width: 120px;
  height: auto;
}

#gameStatus {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  opacity: 1;
  margin-top: 10px;
  transition: transform 0.3s ease, opacity 0.5s ease;
}
.grow {
  transform: scale(1.5);
}
.fade-out {
  opacity: 0;
}