body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  padding: 20px;
}
.game-container{
  background-color: #000000;
  width: 70vh;
  height: 80vh;
  justify-self: center;
  padding: 20px;
  border-radius: 30px;
  border: 2px solid rgb(68, 1, 252);


}
h1{
  color: #ffffff;
}

#colorBox {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  border: 2px solid #ffffff;
}

#colorOptions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  /* justify-content: center; */
  gap: 10px;
  max-width: 300px;
  margin: 20px auto;
  
}

.colorOption {
  width: 70px;
  height: 70px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.colorOption:hover {
  transform:scale(1.1);
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  width: 30%;
  height: 10%;
  text-align: center;
}

.correct {
  animation: correctAnimation 0.5s ease;
}

@keyframes correctAnimation {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}